{% extends 'base.html.twig' %}

{% block title %}Nouveau plat{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un nouveau plat</h1>

        <div class="d-grid gap-2">
            {{ include('plat/_form.html.twig') }}
            <a class="btn btn-outline-primary" role="button" href="{{ path('plat_index') }}">Retour à la liste</a>
        </div>

    </div>
{% endblock %}
